.navbar .logo{
  max-width 187px
}

.home{
  min-height calc(100vh - 3.6rem)
  display flex
  flex-direction column
}

.home .hero img{
  max-height 40vh
}

.navbar .site-name{
  display none
}

.home .footer{
  margin-top auto
}