.navbar .logo{
  max-width 187px
}

.home{
  min-height calc(100vh - 3.6rem)
  display flex
  flex-direction column
}

.home .hero img{
  max-height 40vh
}

.home .hero .description{
  max-width 50rem
}

.navbar .site-name{
  display none
}

.home .footer{
  margin-top auto
}

.sidebar-links > li > a {
  font-size 17px
  font-weight 500
  color #0292fa
}